* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /*alinhar itens no container grande ----- aligner-itens = alinhar itens em cada container pequeno*/
  width: 100%;
  height: 90px;
  background-color: black;
}
header img {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  margin-left: 5px;
  height: 120px;
  width: 120px;
}
header #burguer {
  display: none;
  margin-top: 15px;
  margin-right: 15px;
  font-size: 60px;
}
header nav {
  display: flex;
  flex-direction: column;
  justify-content: end;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.508);
}
header nav ul {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
  justify-content: center;
}
header nav ul li {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-bottom: 30px;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  width: 100px;
}

main #section1 {
  display: flex;
}
main #section1 #img1 {
  width: 100%;
  height: 524px;
}
main #section1 p {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  font-size: 1.5em;
  width: 400px;
  height: 200px;
  margin-left: -200px;
  margin-top: -100px;
}
main #section2 {
  display: flex;
  background-color: orange;
  flex-direction: row;
  height: 520px;
  margin-top: -1px;
  padding-top: 20px;
  align-items: center;
}
main #section2 #img2 {
  height: 200px;
  width: 200px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.271);
  margin-left: 20px;
}
main #section2 p {
  padding: 10px 20px;
  text-align: justify;
}
main #section2 p strong {
  font-size: 1.3em;
}
main #section3 {
  display: flex;
  background-color: rgba(14, 14, 222, 0.784);
  flex-direction: row-reverse;
  align-items: center;
  height: 520px;
  padding-top: 20px;
}
main #section3 #img3 {
  height: 200px;
  width: 200px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.271);
  margin-right: 20px;
  position: static;
}
main #section3 p {
  padding: 10px 20px;
  text-align: justify;
}
main #section3 p strong {
  font-size: 1.3em;
}
main #section4 {
  display: flex;
  background-color: yellow;
  flex-direction: row;
  align-items: center;
  height: 504px;
  padding-top: 20px;
}
main #section4 #img4 {
  height: 200px;
  width: 200px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.271);
  margin-left: 20px;
}
main #section4 p {
  padding: 10px 20px;
  text-align: justify;
}
main #section4 p strong {
  font-size: 1.3em;
}
main #section5 {
  padding: 100px 0px;
  background-color: rgb(186, 186, 186);
}
main #section5 h1 {
  text-align: center;
}
main #section5 #listadelinks {
  display: flex;
  flex-direction: row;
}
main #section5 #listadelinks ul {
  margin: auto;
  list-style-type: none;
}
main #section5 #listadelinks ul li {
  padding-bottom: 10px;
}
main #section5 #listadelinks ul a {
  text-decoration: none;
  color: black;
}
main #section5 #listadelinks ul a img {
  padding-right: 3px;
}
main #section5 #listadelinks ul a:hover {
  text-decoration: underline;
  color: black;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
}
footer p#desenvolvedor {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
footer p#imagensfooter {
  padding: 10px;
}
footer p#imagensfooter img {
  padding-right: 10px;
  height: 40px;
  width: 40px;
}

a.navbar:hover {
  text-decoration: underline;
}

.plus {
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 7px;
}

.plus:hover {
  text-decoration: underline;
}

.preto {
  color: black;
}

.vermelho {
  color: red;
}

.azul {
  color: blue;
}

.amarelo {
  color: yellow;
}

@media only screen and (max-width: 520px) {
  header #burguer {
    display: block;
  }
  header nav {
    display: none;
  }
  main #section2 {
    flex-direction: column;
  }
  main #section3 {
    flex-direction: column;
  }
  main #section4 {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */